:root{
    --secondary-font: 'Antonio', sans-serif;
}

/*.header{
    max-width: auto;
    max-height: 100px;
    background: #EDF0F1;
}
.invisible{
    color: #EDF0F1;
    margin: 0;
}*/

.bio {
    display: flex;
    margin-left: 150px;
    margin-right: 0;
    margin-bottom: 0;
    max-width: auto;
    /* min-height:300px;*/
}
.column{
    padding: 0;
}
.firstRow{
    padding-left: 148px;
}
.hero {
    padding: 50px, 100px, 0px, 0px;
    max-width: 100%;
    min-height: 300px;
}
h1 {
    font-family: var(--secondary-font);
}

.interior {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.pfp {
    display: block;
    max-width: 400px;
    justify-content: center;
}
.vertical-menu {
    width: 148px;
    position: fixed;
    font-family: var(--secondary-font);
    margin: 0px;
    /* Set a width if you like */
}
.vertical-menu a {
    /*background-color: #eee;*/
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 5px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}
.vertical-menu a:hover {
    font-weight: bold;
    font-family: var(--secondary-font);
    /* Dark grey background on mouse-over */
}

/* not using
.vertical-menu a.active {
    background-color: #04AA6D;
    /* Add a green color to the "active/current" link
    color: white;
}*/

/*
@media(max-width: 576px){
    .vertical-menu{
        display:none;
    }
    .bio{
        margin:0;
    }
    .interior{
        margin:0;
    }
}*/

/*@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}*/

/* Test CSS*/

.iPhotos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 148px;
}

/* Create three equal columns that sits next to each other */
.grid {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}*/