:root{
    --secondary-font: 'Antonio', sans-serif;
}

/*.header{
    max-width: auto;
    max-height: 100px;
    background: #EDF0F1;
}
.invisible{
    color: #EDF0F1;
    margin: 0;
}*/

.bio {
    display: flex;
    margin-left: 150px;
    margin-right: 0;
    margin-bottom: 0;
    max-width: auto;
    /* min-height:300px;*/
}
.column{
    padding: 0;
}
.hero {
    padding: 50px, 100px, 0px, 0px;
    max-width: 100%;
    min-height: 300px;
}
h1 {
    font-family: var(--secondary-font);
}

.interior {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.pfp {
    display: block;
    max-width: 400px;
    justify-content: center;
}
.vertical-menu {
    width: 148px;
    position: fixed;
    font-family: var(--secondary-font);
    margin: 0px;
    /* Set a width if you like */
}
.vertical-menu a {
    /*background-color: #eee;*/
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 5px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}
.vertical-menu a:hover {
    font-weight: bold;
    font-family: var(--secondary-font);
    /* Dark grey background on mouse-over */
}

/* not using
.vertical-menu a.active {
    background-color: #04AA6D;
    /* Add a green color to the "active/current" link
    color: white;
}*/







@media(max-width: 576px){
    .vertical-menu{
        display:none;
    }
    .bio{
        margin:0;
    }
    .interior{
        margin:0;
    }
}

@media (min-width: 576px) {
    img {
            min-height: 240px;
        }
}
footer{
    margin-top:1000px;
}