.vertical-menu {
    width: 148px;
    position: fixed;
    font-family: 'Antonio', sans-serif;
    margin: 0px;
    /* Set a width if you like */
}

.vertical-menu a {
    /*background-color: #eee;*/
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 5px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu a:hover {
    font-weight: bold;
    font-family: 'Antonio', sans-serif;
    /* Dark grey background on mouse-over */
}

/* not using
.vertical-menu a.active {
    background-color: #04AA6D;
    /* Add a green color to the "active/current" link
    color: white;
}*/
.pfp{
    display: block;
    max-width: 400px;
    justify-content: center;
}

.hero{
    margin:0;
    padding: 0;
    min-height: 300px;
}

.bio{ 
    display: flex;
    margin-left:150px;
    margin-right: 0;
    margin-bottom: 0;
    max-width: auto;
    min-height:300px;
}
.interior{
 margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}

@media(max-width: 576px){
    .vertical-menu{
        display:none;
    }
    .bio{
        margin:0;
    }
    .interior{
        margin:0;
    }
}

@media (min-width: 576px) {
    img {
            min-height: 240px;
        }
}
footer{
    margin-top:1000px;
}